spring:
  datasource:
    url: jdbc:mysql://localhost:3306/CustomerInsightsDB
    username: root
    password: 1234
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        globally_quoted_identifiers: true
    show-sql: 'true'
    hibernate:
      ddl-auto: update

server:
  port: 8080


